.form__wrapper {
  .container();
  .outlines();
}
.form__description {
  font-size: 13px;
  line-height: 24px;
  padding: 27px 0;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.form__text-required {
  font-size: 14px;
  line-height: 16px;
}

.form__input {
  font-size: 17px;
  line-height: 18px;
}

.form__title {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
