.page-header {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center 180px;
}

.page-header__wrapper {
    .outlines();
    .container();
}

.page-header__logo {
  .outlines();

  border-bottom: 1px solid #ececec;
  text-align: center;
  padding: 15px 0;
}

.page-header__description {
}

.page-header__title {
  padding: 0;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #010000;
}

.page-header__title {
  &--caption {
    background-color: #f1f1f1;
    padding-top: 73px;
    padding-bottom: 73px;
  }
  &--index {
    padding-top: 72px;
    padding-bottom: 119px;
  }
}

@media (min-width: @tablet-widths) {

}
